body{
  padding-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  background-image:url(
  
    );
background-attachment:fixed;
background-position: center;
background-size: 100%;
color: 100%;
}
h2{
  padding-top: 50px;
}
h1,h4,h2{
  text-align: center;
}

#nav{

    width: 500px;
    margin: auto;
float:none;
}
nav{
  width: 100%;
}
